body {
    font-family: Arial, sans-serif;
}

h3 {
    margin-top: 30px;
    text-align: center;
}

ol {
    list-style-position: inside;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

#ordered_List li {
    margin-top: 20px;
}

#page_number_heading {
    margin-top: 30px;
    text-align: center;
}

button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}